@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
    width: 10px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px skyblue;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: skyblue;
    outline: 1px solid skyblue;
    border-radius: 10px;
  }